@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    font-family: 'Comic Neue',cursive, sans-serif;
    font-size: 15px;
    background-color: #f9f9f9;
}

h1{
    color: #f9f9f9;
}

h2,
h3,
h4 {
    font-family: 'Comic Neue', sans-serif;  
}

.hdr-image{
    max-width: 200px;
}

header{
    display: grid;
    grid-template-columns: 100px, 100px, 100px;
    grid-template-rows: auto;

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;


    max-width: 720px;
    margin: 0 auto;
    border: 1px double;
    border-color: #070008;
    padding: 2rem;
    background-color: #253e69;
    font-family: "Comic Neue", cursive;
    font-size: auto; 
}
.header{
    max-width: 200px;
}

.mn-links{
align-self: center;

}

main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;



    margin: 100px;
    margin-left: 550px;
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*font-family: 'Comic Neue', cursive;*/

footer{
    max-width: 760px;
    margin: 0 auto;
    font-size: large;
    text-align: center;
    border: 1px double;
    border-color: #070008;
    padding: 1rem;
    background-color: #eb6978;
    
}