#menu_general{
    display:flex;
    flex-direction: column;
    align-items: center;

    border: 5px solid rgb(227, 215, 214)
}

#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form div {
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

input {
    width: 50%;
    padding: 2px;
    margin-top: 3px;
    text-align: center;
}


#boton{
    margin-top: 15;
}

#resultado{
    margin-top: 20px; 
    padding: 10px; 
    border: 1px solid #ccc
}

/*
*/
resultadoDiv{
    border:2px solid green;
}