/*35rem is also 560px when basefont is 16px*/
@media only screen and (min-width: 35rem) {

    nav button {display: none;}

    nav ul{
        display: flex;
        justify-content: center;
        margin-left: 2vw;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }


    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }

    .img-intro{
        width: 200px;
    }

    .intro{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    /*****************************************   main    ****************************************************/

    main{
        display: flex;
        flex-direction: column;
        padding: 30px;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: stretch;
        text-align: center;
    }

    .home-section{
        display: block;
        flex-direction: row;
        align-items: stretch;
        border: solid 4px #000;
        padding: 100px;
    }






    /****************************************** footer **************************************************/

    footer{
        border-top: solid 5px #e1a907;
        background-color: #000000;
        padding-bottom: 0.1px;
        text-decoration: none;
    }

    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 40px;
    }

    .my-info{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 50px;
        color: #fff;
        text-decoration: none;
    }

    .contact-us{
        width: 40%;
        color: #fff;
        margin-left: 100px;
    }

    .brand{
        font-weight: 500;
        font-size: 40px;
    }

    .brand+p{
        font-weight: 500;
    }

    .social-media{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin-right: 60px;

    }

    .social-media-icon{
        display: inline-block;
        margin-left: 20px;
        width: 60px;
        height: 60px;
        border: 1px solid #fff;
        border-radius: 50%;
        text-align: center;
        color: #fff;
    }

    .social-media-icon:hover{
        background: #fff;
        color: #e1a907;
    }

    .social-media-icon i{
        font-size: 30px;
        line-height: 60px;
    }

    .line{
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        height: 2px;
        background: #000000;
        margin-bottom: 60px;
    }

    
    
    time,aside {
        margin: 0.5rem;
        border: 1px solid #bbbbbb20;
        padding: 0.75rem 1rem;
        background-color: #000000;
        color: #fff;
    }
    

}
