/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
nav button{
    margin: 2rem, 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #000000;
}

nav{
    background-color: #c2ff77;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;    /*This makes the area clickable teh whole.*/
    padding: .8rem 2vw;
    text-decoration: none;
    color: #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.5);  /*It adds border to each element of the list*/
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul li.active a{
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul{display: none;}
nav ul.open{display: block;}

#hamburger span:nth-child(1) {display: block;}
#hamburger span:nth-child(2) {display: none;}

#hamburger.open span:nth-child(1) {display: none;}
#hamburger.open span:nth-child(2) {display: block;}

header{
    background-color: black;
    color: #fff;
}

.intro{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.img-intro{
    max-width: 200px;
}

/*******************************************  main *******************************************/


main{
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;
}

.hero, .news, .events, .weather, .join, .spotlights{
    flex-direction: row;
    align-items: stretch;
    border: solid 4px #000;
    padding: 50px;
}


/*******************************************  footer *******************************************/


footer{
    border-top: solid 5px #4eb004;
    background-color: #000000;
    padding-bottom: 0.1px;
    text-decoration: none;
}

.footer-content{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    /* align-content: stretch; */
    align-items: center;
}

.my-info{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    color: #fff;
    text-decoration: none;
}

.footer-motto{
    display: flex;
    justify-content: center;
    margin-left: -100px;

}

.contact-us{
    
    width: 100%;
    color: #fff;
    margin-left: 100px;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;

}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: #4eb004;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}