/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
/*
*                    MENU NAVEGATION
*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
nav button{
    margin: 2rem, 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #000000;
}

nav{
    background-color: #e1a907;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a{
    display: block;    /*This makes the area clickable teh whole.*/
    padding: .8rem 2vw;
    text-decoration: none;
    color: #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.5);  /*It adds border to each element of the list*/
    font-family: 'Monoton', cursive;
    font-size: larger;

}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul li.active a{
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul{display: none;}
nav ul.open{display: block;}

#hamburger span:nth-child(1) {display: block;}
#hamburger span:nth-child(2) {display: none;}

#hamburger.open span:nth-child(1) {display: none;}
#hamburger.open span:nth-child(2) {display: block;}
/*********************** header elements **************************/
header{
    background-color: black;
    color: #fff;
}

.intro{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
}

.img-intro{
    max-width: 200px;
}

.banner{
    margin:0 auto;
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 1em;
    border: 5px #e1a907 solid;
    text-align: center;
}

.img-intro {
    background-color: transparent;
  }

/*******************************************  main *******************************************/

main{
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    text-align: center;
}


#hero-section {
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 0;
    position: relative;
    gap: 0.5em;
    background-color: #feaeda63;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

#hero-section button{
    position:absolute;
    right: 1em;
    bottom: -1.1em;
    background-color: #e1a907;
    border: 3px white solid;
    border-radius: 1em;
    padding: 0.50em 6em;
    font-size: 1.25em;
    font-weight: bolder;
}

#hero-section button a {
    text-decoration: none;
    color: white;
    
}

#weather-section{
    border: #d5f9ff solid 5px;
    border-radius: 1rem;
}

/********************          STARTS slider-1: events parts        **************/
.slider-1 {
    width: 300px;
    height: auto;
    padding: 0;
    margin: 50px auto 0;
    overflow: hidden;
    position: relative;
    transition: ease-in-out;
  }
  
  .slider-1 li {
    float: left;
    padding: 0;
    list-style: none;
  }
  
  .slider-1 img {
    width: 100%;
    height: auto;
    border-radius: 1em;
    
  }
  /********************          ENDS slider-1: events parts        **************/

/*picture{
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
}*/
#spotlight-container{
    display: flex;
    gap: 1em;
    flex-direction: column;
}

#spotlight{
    gap: 0.25em;
}

.home-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffbe0;
    border-radius: 1rem;
}

/********************          STARTS slider-2: spotlights-sports        **************/

.slider-2 {
    width: 300px;
    height: auto;
    padding: 0;
    margin: 50px auto 0;
    overflow: hidden;
    position: relative;
    transition: ease-in-out;
  }
  
  .slider-2 li {
    float: left;
    padding: 0;
    list-style: none;
  }
  
  .slider-2 img {
    width: 100%;
    height: auto;
    border-radius: 1em;
    max-width: 200px;
    margin-left: 3rem;
  }

/****************       ENDS slider-2: spotlights-sports       **************/
/****************       STARTS Button Sports-container      **************/

#sports-container-button{
    background-color: #e1a907;
    color: var(--main-font-color);
    border: 1px white solid;
    border-radius: 1em;
    padding: 0.75em 4em;
    font-size: 1.25em;
    font-weight: bolder;
}

#sports-container-button a {
    text-decoration: none;
    color: white;
} 

/********************          images. spotlight     **************/

.spotlight-home-section img{
    max-width: 100px;
}
/********************          Button join us       **************/


#join-section button{
    background-color: #e1a907;
    color: var(--main-font-color);
    border: 1px black solid;
    border-radius: 1em;
    padding: 0.75em 4em;
    font-size: 1.25em;
    font-weight: bolder;
}

#join-section button a {
    text-decoration: none;
    color: white;
} 

.newstuff{
    text-align: justify;
    margin: 2rem;
    font-size: large;
}

.newstuff-img{
    max-width: 20%;
    display: inline;
}

/*******************************************  footer *******************************************/

/* footer {
    background-image: url("/chamber/images/rio_bravo_2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(126, 207, 69); /* Adjust the transparency here 
    color: #ffffff;  Text color 
  } 
*/

footer{
    border-top: solid 5px #e1a907;
    background-color: #000000;
    padding-bottom: 0.1px;
    text-decoration: none;
    background-image: linear-gradient(to top, rgba(32, 21, 0, 0.818) 0%, rgba(53, 33, 3, 0.911) 100%), url(../images/large.jpg);

}

.footer-content{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    /* align-content: stretch; */
    align-items: center;
}

.my-info{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    color: #fff;
    text-decoration: none;
}

.footer-motto{
    display: flex;
    justify-content: center;
    margin-left: -100px;

}

.contact-us{
    
    width: 100%;
    color: #fff;
    margin-left: 100px;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;

}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
    background: #fff;
    color: #e1a907;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #e1a907;
    margin-bottom: 60px;
}

#footer-top-content{
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem;
}

/*******************************************************************************************************************/
/************************************************** Discovery page *************************************************/

.card-text {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}

#directory-main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Discovery page */

#discovery-info {
    background-color: var(--secondary-bk-color);
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
}

#discovery-info h2 {
    background-color: var(--main-bk-color);
    color: white;
    padding: 0.5em;
    border-radius: 1em;
}

#discovery-info p {
    margin: 0;
}

#discovery-pics {
    margin-top: 1em;
    background-color: var(--secondary-bk-color);
    padding: 1em;
}

.discovery-pic {
    /* border: 1px black solid; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* gap: 1em; */
    padding: 1em;
    border-radius: 0.5em;
}

picture { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.discovery-pic picture img {
    width: 100%;
}

.discovery-pic picture img:hover {
    box-shadow: 0 0 50px #333;
}

@media screen and (max-width: 35em) {


    .discovery-pic picture img:hover {
        box-shadow: 0 0 0 0;
    }

    #discovery-pics {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    /* Discovery page */

    .card:nth-of-type(odd) {
        background-color: #d5f9ff;
    }

    .card {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 1em;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .card img {
        display: none;
    }

    .card-title {
        text-align: left;
        font-size: 0.8em;
    }

}

.caption {
    display: none;
  }
  
  .caption.show {
    display: block;
  }

/*************************************************************************************************************************/
/**************************************************** Join page **********************************************************/
#join-main-content-j {
    padding: 1em;
    background-color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to top, rgba(252, 251, 250, 0.818) 0%, rgba(199, 254, 255, 0.911) 100%), url(../images/planetL.jpg);
}

#join-main-content-j h2 {
    background-color:#e1a907;
    color: white;
    border-radius: 1em;
    padding: 0.5em;
}

#join-main-content-j form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: inherit;
    gap: 1.5em;
    flex-wrap: nowrap;
}

#join-main-content-j form div {

}


.form-label {
    background-color: #e4007c;
    color: #fff;
    font-size: larger;
    font-weight: bolder;
    padding: 0.5em 1em;
    border-radius: 1em 0 0 1em;
    border: 2px #e1a907 solid;
}

#join-main-content-j input, #join-main-content-j select {
    padding: 0.5em 1em;
    font-size: 16px;
    flex: 1;
}

#join-main-content-j form div {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
}

#description-div {
    flex-direction: column !important;
}

#description-div label {
    border-radius: 1em 1em 0 0;
    width: 100%;
    box-sizing: border-box;
}

#description {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 1em;
}

button[type=submit] {
    background-color: #e1a907;
    color: white;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 2.5em;
    font-weight: bolder;
}

button[type=submit]:hover {
    box-shadow: 0 0 10px #dda602;
}

#memberships-div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-evenly;
    margin-top: 1em;
    max-width: 400px;
    background-color: #e1aa07;
    color:#fff;
    border-radius: 3em;
}

.membership-info {
    width: 90%;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.membership-info h4 {
    margin-top: 1em;
    color: #fff;
    font-size: larger;
    font-weight: lighter;
    font-family: 'Monoton' ;
    font-style: italic;
    text-shadow: 1px 3px 3px #333;
}

.membership-benefits li {
    padding: 0 1em;
    color: #fff;
    font-size: larger;
    text-shadow: 1px 1px 2px #333;
}

/* Thank you page */


/************************************  DIRECTORY PAGE ********************************************/

.cards{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff1f1;
}

.directoryPage-img{
    max-width: auto;
}

.directoryPage-location , .directoryPage-field{
    font-size: larger;
}

/****************************************** WEATHER ***************************************************/

main figcaption{
    font-size: larger;
    font-family: 'Monoton', cursive;
}

.weather img{
    max-width: 40%;
}

/*************************************** CONTACT PAGE *******************************************/
/*********header*********************/
.nav-contact{
    background-color: #e1a907;
}

#header-contact{
    background-image: linear-gradient(#526, #888988c2), url(../images/office1.jpg);
    background-repeat:no-repeat;
    background-position: center center;
}

/*********** body ****************/

.principal{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#contact-left form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

@media screen and (max-width: 35em){
    .principal{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}   

