@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');



body{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    background-color: #f9f9f9;
}

h1{
    color: #f9f9f9;
}

h2,
h3,
h4 {
    font-family: 'Comic Neue', sans-serif;  
}

.hdr-image{
    max-width: 200px;
    grid-column: 1/1;
}

.hdr-text{
    grid-column: 2/2;
    margin-top: 100%;
}


header{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 0;

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;


    max-width: 720px;
    margin: 0 auto;
    border: 1px double;
    border-color: #070008;
    padding: 2rem;
    background-color: #253e69;
    font-family: "Comic Neue", cursive;
    font-size: auto; 
}
.header{
    max-width: 200px;
}


.mn-links, h3{
    margin: auto;
    margin-top: 2%;
}

main{
    display: grid;
    grid-template-columns: 100%;

    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;

    margin: auto;
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 5px;
}
/*font-family: 'Comic Neue', cursive;*/

footer{
    max-width: 760px;
    margin: 0 auto;
    font-size: large;
    text-align: center;
    border: 1px double;
    border-color: #070008;
    padding: 1rem;
    background-color: #eb6978;
    
}